#sidebarCollapse {
  position: absolute;
  top: 50%;
  height: 40px;
  width: 40px;
  left: 5px;
  border-radius: 50%;
}

.sidebar {
  position: relative;
  display: none !important;
  width: 300px;
  height: 100vh;
  position: absolute;
  background: white;
  z-index: 9999;
}

.sidebar.active {
  display: flex !important;
}

.sidebar > .header > .dismiss {
  font-size: 25px;
  cursor: pointer;
}

.sidebar > .header > .onlineCounter {
  color: green;
  font-weight: 600;
}

.sidebar > .content {
  width: 100%;
  height: 80%;
  overflow: hidden;
  overflow-y: scroll;
  position: relative;
}

.sidebar > .footer, .header {
  width: 100%;
}

@media (max-width: 575.98px) {
  .sidebar {
    width: 100%;
  }
}
.overlay {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 998;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  top: 0;
  left: 0;
}

/* display .overlay when it has the .active class */
.overlay.active {
  display: block;
  opacity: 1;
}

.btn-channel {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.chatUserList {
  width: 100%;
  min-height: 100px;
  max-height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  background-color: #222222;
  position: absolute;
  bottom: 0;
}

.chatUserList .item {
  cursor: pointer;
  height: 25px;
}

.chatUserList .item:hover {
  cursor: pointer;
  height: 25px;
  background-color: #111111;
}

.chatUserList .item > img {
  width: 20px;
  height: 20px;
}

.chatUserList .item > span {
  color: white;
  font-size: 20px;
}

/*# sourceMappingURL=Chat.css.map */
