
.square {
	height: 60px;
	width:60px;
	font-weight: bold;
	font-size: 50px;
}

.square-blank {
	cursor: pointer;
}

.square-p1::after {
	color: red;
	content: "X",
}

.square-p2::after {
	color: green;
	content: "O",
}